* {
    box-sizing: border-box;
    margin: 10px;
}

#row-one {
    display: flex;
    gap: 10px;
}

#row-one>div {
    background-color: #dededd;
    height: 35px;
    width: 100%;
    margin: 5px 0px;
}

#row-two>div {
    background-color: #dededd;
    height: 300px;
    width: 100%;
    margin: 5px 0px;
}

#row-two {
    display: flex;
    gap: 10px;
}

#row-two>div:first-child {
    flex: 5;
}

#row-two>div:last-child {
    flex: 1;
}

#row-three>div {
    background-color: #dededd;
    height: 25px;
    width: 100%;
    margin: 5px 0px;
}

#row-three {
    display: flex;
    gap: 10px;
}

section {
    margin: 0px;
}